body {
    margin: 0;
    background-color: antiquewhite;
}

/*bandeau*/

header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #f3dec3;
    border-bottom: 2px solid #d0c4b4;
    height: auto;
}

.bandeau {
    max-width: 700px;
    margin: 0 auto;
    padding: 16px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.bandeau a {
    text-decoration: none;
    color:#333;
    font-weight: 400;
    font-size: 16px;
    padding:8px 4px;
}

/*barre de recherche*/

#barreDeRecherche {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 30px auto;
}

#site-search {
    width: 400px;
    padding: 10px;
    font-size: 20px;
}

#barreDeRecherche button {
    padding: 10px 20px;
    font-size: 16px;
}


/*page home*/
Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: calc(100vh - 70px);
    background-color: #f0eee6;
    opacity: 0.8;
    background: repeating-linear-gradient(45deg, #f0eee6 0px, #f0eee6 10px, #dddca6 10px, #dddca6 11px, #f0eee6 11px, #f0eee6 20px, #ed7b66 20px, #ed7b66 21px);
}

.title h1 {
    font-size: 50px;
    color: #281a60;
    padding: 20px 40px;
    border-radius: 15px;
    box-shadow: 0 4px 10px color #281a60;
    margin-bottom: 40px;
    
}

#startingButton {
    padding: 16px 48px;
    font-size: 20px;
    font-weight: 600;
    color: #f0eee6;
    background-color: #281a60;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s ease, transform 0.15s ease;
}

#startingButton:hover {
    background-color: #281a60;
    transform: translateY(-5px);
}

#startingButton:active {
    transform: translateY(0);
}